:root {
  /* Light Colors  */

  --background: #fffaf5; /* Background color */
  --accent: #ffefde; /* Hover color */
  --cards: #ebe6e1; /* Cards color */

  /* Fonts Color */
  --fg: #4b4646; /* Foreground color */
  --sfg: #4b4646; /* Sceondary Foreground color */

  /* Image background  */
  --imgcol: linear-gradient(rgba(255, 250, 245, 0.7), rgba(255, 250, 245, 0.7)); /* Filter color */
  /* Dark Colors  */

  --darkbackground: #161A1E; /* Background color */
  --darkaccent: #CEACE8; /* Hover color */
  --darkcards: #1B1F23; /* Cards color */

  /* Fonts Color */
  --darkfg: #F8F9FA; /* Foreground color */
  --darksfg: #161A1E; /* Secondary Foreground color */

  /* Image background  */
  --darkimgcol: linear-gradient(rgba(0, 15, 20, 0.85), rgba(0, 15, 20, 0.85)); /* Filter color */
}
